{% extends 'base.html' %}

{% block title %}To-Do List | Edit Item{% endblock %}

{% block content %}
	{% if item %}
		
        <form class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}

            <input class="form-control mr-sm-2" type="search" placeholder="{{ item.item }}"
                 value="{{ item.item }}" aria-label="Search" name="item">

            Complete:
            <input class="form-control mr-sm-2" type="checkbox" name="completed"
                    {% if item.completed %} checked {% endif %}">

            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit Item</button>
        </form>

	{% endif %}
{% endblock %}